<div class="container">
  <div class="header">
    <div class="score-box">
      <div class="score">
        <p>分数</p>
        <em>{{score}}</em>
      </div>
      <div class="high-score">
        <p>最高分数</p>
        <em>{{highScore}}</em>
      </div>
    </div>
    <div class="btns">
      <div class="btn" (click)="newGame()">重新开始</div>
      <div class="btn" (click)="saveGame()">保存</div>
    </div>
  </div>
  <!-- pulse, bounceIn -->
  <div class="game" appBoxSquare #gameBoard>
    <div class="cell animated" 
      appBoxSquare *ngFor="let box of board" 
      [ngStyle]="{'backgroundColor': color[box].bg, 'color': box >= 8 ? '#fff' : ''}"
      [ngClass]="{'bounceIn': box > 0}">
      {{box ? box : ''}}
    </div>
  </div>
</div>
